@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(
        45deg,
        hsl(240deg 100% 20%) 0%,
        hsl(289deg 100% 21%) 11%,
        hsl(315deg 100% 27%) 22%,
        hsl(329deg 100% 36%) 33%,
        hsl(337deg 100% 43%) 44%,
        hsl(357deg 91% 59%) 56%,
        hsl(17deg 100% 59%) 67%,
        hsl(34deg 100% 53%) 78%,
        hsl(45deg 100% 50%) 89%,
        hsl(55deg 100% 50%) 100%
      );
      height: 100vh;
      overflow: hidden;
    }

.calculator {
    text-align: center;
    margin: 3rem;
}

input {
    display: block;
    width: 18rem;
    margin: 0.3rem;
    border: 2px solid #000C2C;
    font-size: 2rem;
    text-align: right;
    font-family: 'Orbitron', sans-serif;
    margin: auto;
    border-radius: 0.4rem;
    outline: none;
}

.operators button.bigButton {
    height: 5.2rem;
}

.operators button.clear {
    background-color: rgb(255, 50, 50);
}

.operators button.result {
    background-color: rgb(50, 50, 255);
}

.numbers button,
.operators button {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.1rem;
    border: 2px solid #000C2C;
    outline: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem;
    border-radius: 0.4rem;
}

.numbers button:hover,
.operators button:hover {
    border: 2px solid rgb(0, 0, 102);
}

.numbers button:active,
.operators button:active {
    font-weight: bold;
    background: #FABF44;
}

.left-panel,
.right-panel {
    display: inline-block;
    vertical-align: top;
    margin: 0.5rem;
}